{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block body %}
<div class="mt-5">
{{ infos.title}} <br>
{{ infos.numberReviews }} <br>
{{ infos.qualityReview }} <br>
{{ infos.rating }} <br>
{{ infos.cards }} <br>
 </div>
{% endblock %}
